{% extends "base.html"%}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_js %}
<script>
	jQuery(document).ready(function($) {
		  $(".clickable-row").click(function() {
		      window.document.location = $(this).data("href");
		  });
	});
</script>
{% endblock %}
<body>

{% block content %}

  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Video Home Show </h1>
      <p></p>
      <p>Video home show is a show about videos, homes and shows...</p>
      <p></p>


    </div>
      <div class="row top-buffer">
        <div class="col-md-6">
          <table class = "table table-hover">
					{% for e in eps %}			
						<tr class='clickable-row' data-href="{% pageurl e %}">	
							<td> {% image e.main_image width-400 %}</td>
			        <td><b>{{ e }} </b></td>
						</tr>
  				{% endfor %}      
          </table>
				</div>
      </div>

  
{%endblock%}

</body>
