{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

		{% load staticfiles %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


		{% load bootstrap3 %}
		{% bootstrap_css %}

		{% bootstrap_javascript %}
    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/beholdr.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}


	  <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/" style="color:black;"><b>Beholdr</b></a>
		  </div>
		  <div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
					<li class = "dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Podcasts <span class="caret"></span></a>
						<ul class="dropdown-menu">
							    <li><a href="/vhs">Video Home Show</a></li>
				  	</ul>
					</li>
					<li class = "dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li id="reviews"><a href="/tools/iTunesReviews/">iTunes Reviews</a></li>
							<li id="idfinder"><a href="/tools/iTunesReviews/searchid">iTunes Id finder</li></a>
							<li id="simplecast"><a href="/tools/simplecast/">Simplecast Listens Breakdown</a></li>
				  	</ul>
					</li>
		    </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>
        {% block content %}

		{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/beholdr.js' %}"></script>

    </body>
</html>
