
{% extends "base.html"%}

<body>

{%block content%}

  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Video Home Show </h1>
      <p></p>
      <p>Video home show is a show about videos, homes and shows...</p>
      <p></p>
  
{%endblock%}

</body>
